<a href="https://colab.research.google.com/github/Hugh-Carlson/CSC576DataMining/blob/main/CarlsonDataMiningW1HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basic Arithmetic Operations

a= 10
b= 5
sum= a+b
difference= a-b
product= a*b
division= a/b

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Division:", division)

Sum: 15
Difference: 5
Product: 50
Division: 2.0

In [2]:
print(f"The sum of the two numbers {a}, {b} is {sum}")

The sum of the two numbers 10, 5 is 15

In [6]:
x=13//2
print(x)
y=13%2
print(y)

6
1

In [7]:
# Boolean Variable and Comparisons
x = 10
y = 5

is_greater = x > y
is_equal = x == y
is_not_equal = x != y

print("Is x greater than y?", is_greater)
print("Is x equal to y?", is_equal)
print("Is x not equal to y?", is_not_equal)

# Variable Assignment
name = "Hugh"
age = 24
is_student = True

print(f"{name}'s age is {age}. He is a Student is {is_student}")

Is x greater than y? True
Is x equal to y? False
Is x not equal to y? True
Hugh's age is 24. He is a Student is True

In [8]:
# Defining and using a function
def greet(name):
    return "Hello," + name + "!"

my_name = input("Enter your name: ")
greet(my_name)

Enter your name: Hugh

'Hello,Hugh!'

In [11]:
def add_numbers(a,b):
  return a+b

a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))

addition_value= add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

Enter the first number: 2
Enter the second number: 3
The result of addition for 2, 3 is 5

In [12]:
def add_numbers(a,b):
  return a+b

a=float(input("Enter the first number: "))
b=float(input("Enter the second number: "))

addition_value= add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

Enter the first number: -4.5
Enter the second number: 10
The result of addition for -4.5, 10.0 is 5.5

In [13]:
# Working with Strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original Message: ", message)
print("The length is: ", length)
print("Uppercase: ", uppercase)
print("Lowercase: ", lowercase)
print("Part of the message is: ", substring)

Original Message:  Hello World
The length is:  11
Uppercase:  HELLO WORLD
Lowercase:  hello world
Part of the message is:  orld

In [18]:
# Basic input example
Last = input("Enter the last name: ")
First = input("Enter the first name: ")
print(f"{Last}, {First}")

Enter the last name: Carlson
Enter the first name: Hugh
Carlson, Hugh

In [20]:
# Numeric Input Example
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 24
You will be 25 years old next year.

In [21]:
# Calculations with Input
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
print("Sum: ", sum_result)

Enter the first number: 1
Enter the second number: 2
Sum:  3.0

In [22]:
# String Concatenation with input
city = input("Enter your city name: ")
country = input("Enter your country name: ")
location = city + ", " + country
print("You are in", location)

Enter your city name: New Haven
Enter your country name: USA
You are in New Haven, USA

In [23]:
# Multiple Inputs
name, age = input("Enter your name and age seperated by space: ").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age seperated by space: Hugh 24
my name is Hugh and my age is 24